.page {
  height: 100vh;
  width: 100%;
  display: flex;
}

.intro-box-wrapper {
  border: 1px solid green;
  height: 100%;
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.intro-box-wrapper .profile-pic {
  /* border: 1px solid red; */
  margin: 10px 0;
}

.intro-box-wrapper .main-heading {
  /* border: 1px solid red; */
  /* margin: 5px 0; */
}

.intro-box-wrapper .sub-heading {
  /* border: 1px solid red; */
  /* margin: 5px; */
}

.intro-box-wrapper .contact-me-options {
  /* border: 1px solid red; */
  width: 350px;
  display: flex;
  padding: 10px;
  justify-content: center;
}

.intro-box-wrapper .contact-me-options .icon {
  /* border: 1px solid red; */
  margin: 0 10px; /* height: 100px; */
  color: inherit !important;
}
