.page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.intro-box-wrapper {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.intro-box-wrapper .profile-pic {
  /* border: 1px solid red; */
  margin: 10px 0;
}

.intro-box-wrapper .main-heading {
  /* border: 1px solid red; */
  /* margin: 5px 0; */
  text-align: center;
}

.intro-box-wrapper .sub-heading {
  /* border: 1px solid red; */
  /* margin: 5px; */
  text-align: center;
}

.intro-box-wrapper .contact-me-options {
  /* border: 1px solid red; */
  width: 350px;
  display: flex;
  padding: 10px;
  margin: 10px 0;
  justify-content: center;
}

.intro-box-wrapper .contact-me-options .icon {
  /* border: 1px solid red; */
  margin: 0 10px; /* height: 100px; */
  color: inherit;
  cursor: pointer;
}

.about-me-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background-color: #a6a6a6;
}

.about-me {
  width: 500px;
}

.about-me h3 {
  display: block;
  padding: 10px 0;
}
.about-me p {
}

.err {
  color: #ff0000;
  font-size: 14px;
}

@media (max-width: 800px) {
  .page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
  }
  .about-me {
    width: 100%;
    text-align: center;
  }
  .about-me button {
    margin: 10px;
  }
}
